.imageContainer {
       width:900px; 
       height:900px; 
       background-image: url(blank%20grid.png);
 }

body {
    margin: 0px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #CBCBCB;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 125%;
}
