.imageContainer {
       width:900px; 
       height:900px; 
       background-image: url(blank%20grid.png);
 }

body {
    margin: 0px;
}

.field {
    position: fixed;
    top: 0px;
    left: 0;
    /*transform: scale(2, 5);*/
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #CBCBCB;
  color: black;
  text-align: center;
}
